PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
MYSQL_ROOT_PASSWORD=

HASH_ITERATION=
HASH_KEYLEN=
HASH_DIGEST=

JWT_SECRET=

# for supertoken
AUTH_API_DOMAIN=
AUTH_WEB_DOMAIN=
CORE_CONNECTION_URL=
CORE_API_KEY=