PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
MYSQL_ROOT_PASSWORD=

# for supertoken
AUTH_API_DOMAIN=
AUTH_WEB_DOMAIN=
API_BASE_PATH=
CORE_CONNECTION_URL=
CORE_API_KEY=
ADMIN_EMAIL=

# for google auth
CRYPTO_ENCRYPTION_KEY=
GOOGLE_API_CLIENT_ID=
GOOGLE_API_CLIENT_SECRET=
GOOGLE_API_REDIRECT_URLS=
GOOGLE_API_REDIRECT_PATHNAME=
GOOGLE_API_DESTINATION_FOLDER_ID=