PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=
MYSQL_ROOT_PASSWORD=

FRONTEND_PATH=
CMS_PATH=

# for better auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
API_BASE_PATH=
CMS_LOGIN_EMAIL=
CMS_LOGIN_PW=

# for google auth
CRYPTO_ENCRYPTION_KEY=
GOOGLE_API_CLIENT_ID=
GOOGLE_API_CLIENT_SECRET=
GOOGLE_API_REDIRECT_URLS=
GOOGLE_API_REDIRECT_PATHNAME=
GOOGLE_API_DESTINATION_FOLDER_ID=